@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sen:700");
.header {
  margin-top: 24px;
}
.header__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__button {
  display: flex;
  margin-left: 357px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border: 1.4px solid #F66F4D;
  border-radius: 27px;
  background-color: #FAF8ED;
  color: #F66F4D;
  text-align: center;
  padding: 19px 34px;
}
.header__button svg {
  margin-left: 6px;
}
.header__mobile {
  display: none;
  margin-left: 25px;
}
@media screen and (max-width: 768px) {
  .header__mobile {
    display: block;
    margin-left: 25px;
  }
  .header__mobile svg path {
    fill: #F66F4D;
  }
}

.menu__list {
  display: flex;
  margin-left: 72px;
}
@media screen and (max-width: 768px) {
  .menu__list {
    display: none;
  }
}
.menu__item {
  position: relative;
}
.menu__item::after {
  content: "";
  display: block;
  width: 0px;
  opacity: 0;
  height: 2px;
  background: #F66F4D;
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: all 0.25s linear;
}
.menu__item:hover::after {
  width: 12px;
  opacity: 1;
}
.menu__item:not(:first-child) {
  margin-left: 36px;
}
.menu__link {
  font-family: "Poppins";
  font-style: normal;
  line-height: 16px;
  text-decoration: none;
  color: inherit;
}

.main {
  margin: 0;
}

.page {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
@media screen and (max-width: 768px) {
  .page {
    display: block;
    margin-top: 40px;
  }
}
.page__text {
  margin-top: 26px;
  font-size: 18px;
  line-height: 28px;
  max-width: 505px;
}
@media screen and (max-width: 768px) {
  .page__text {
    margin-top: 10px;
    max-width: 700px;
  }
}
.page__title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 86px;
  color: #2D3134;
}
@media screen and (max-width: 768px) {
  .page__title {
    max-width: 768px;
    font-size: 64px;
    line-height: 68px;
  }
}

.search {
  display: flex;
  max-width: 500px;
  margin-top: 44px;
  background: #FDFEFF;
  box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
  border-radius: 38px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .search {
    margin-top: 20px;
    margin-left: 80px;
  }
}
.search__where {
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 28px;
}
.search__date {
  padding-top: 20px;
  padding-bottom: 18px;
}
.search__icon {
  position: absolute;
  right: 4%;
  top: 11%;
}

.where__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #2D3134;
}
.where__loc {
  font-size: 12px;
  line-height: 12px;
  color: #9498A4;
}

.date {
  display: flex;
  flex-direction: column;
  margin-left: 68px;
}
.date::before {
  content: "";
  width: 47px;
  border: 1px solid #EAEAEB;
  transform: rotate(90deg);
  color: #EAEAEB;
  position: absolute;
  left: 150px;
  top: 35px;
}
.date__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #2D3134;
}
.date__calendar {
  font-size: 12px;
  line-height: 12px;
  color: #9498A4;
}

.images {
  position: relative;
}
@media screen and (max-width: 768px) {
  .images {
    margin-top: 10px;
    margin-left: 50px;
  }
}
.images__mapsvg {
  position: absolute;
  top: 43px;
  left: 39px;
}
.images__globesvg {
  position: absolute;
  right: 0;
  top: 105px;
}
@media screen and (max-width: 768px) {
  .images__globesvg {
    right: 10px;
  }
}
.images__text {
  text-align: center;
  margin-top: 11px;
  font-weight: 500;
  font-size: 12.3485px;
  line-height: 15px;
  padding-bottom: 31px;
}
.images__small {
  max-width: 134px;
  background: #FFFFFF;
  box-shadow: 0px 14px 24px -10px rgba(226, 154, 53, 0.2);
  border-radius: 9.87879px;
  position: absolute;
  bottom: 26px;
  left: -57px;
}
.images__men {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  margin-left: 8px;
  margin-top: -24px;
}
.images__second {
  position: absolute;
  left: 30px;
}
.images__third {
  position: absolute;
  left: 60px;
}
.images__button {
  padding: 5px 5px;
  border: transparent;
  background: #FFFFFF;
  border-radius: 4.93939px;
  position: absolute;
  top: 38px;
  right: -16px;
}
.images__button a {
  text-decoration: none;
  font-weight: 700;
  font-size: 10.35px;
  line-height: 13px;
  color: #2D3134;
  padding: 6px 5px;
}
.images__button a svg {
  margin-right: 5px;
}

.catigories {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .catigories {
    margin-top: 35px;
  }
}
.catigories__title {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .catigories__title {
    justify-content: start;
  }
}
.catigories__text {
  font-weight: 600;
  font-size: 56px;
  line-height: 56px;
  color: #2D3134;
}
.catigories__arrows svg {
  margin-left: 12px;
}
@media screen and (max-width: 768px) {
  .catigories__arrows {
    margin-left: 200px;
  }
}
.catigories__subtitle {
  max-width: 370px;
  margin-top: 24px;
  line-height: 26px;
}
@media screen and (max-width: 768px) {
  .catigories {
    font-size: 20px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .cards {
    justify-content: flex-start;
    margin-top: 0px;
  }
}
.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards__item:hover .cards__visite {
  visibility: visible;
}
@media screen and (max-width: 768px) {
  .cards__item {
    margin-left: 51px;
    margin-top: 30px;
  }
}
.cards__name {
  margin-top: 18px;
  font-weight: 500;
  font-size: 26px;
  line-height: 26px;
  color: #2D3134;
}
.cards__visite {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  padding: 104px 57px;
  visibility: hidden;
}

.main__stories {
  margin-top: 58px;
}
@media screen and (max-width: 768px) {
  .main__stories {
    margin-top: 0px;
  }
}

.stories {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .stories {
    display: block;
  }
}
.stories__images {
  position: relative;
}

.images {
  max-width: 490px;
}
.images__main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.dest {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 140px;
  align-items: center;
  border-radius: 14px;
  position: absolute;
  top: 257px;
  left: -50px;
}
.dest__svg {
  background: linear-gradient(165.91deg, #FFECC9 10.03%, #FFD482 139.08%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
}
.dest__persent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #F66F4D;
  margin-top: 30px;
}
.dest__text {
  font-size: 19px;
  line-height: 30px;
  color: #939597;
  margin-top: 8px;
  padding-bottom: 20px;
}

.cust {
  background: #FFFFFF;
  box-shadow: 10px 14px 60px -3px rgba(174, 165, 115, 0.08);
  border-radius: 10px;
  max-width: 171px;
  position: absolute;
  right: 16px;
  bottom: 32px;
}
.cust__amount {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  color: #2D3134;
  padding: 20px 21px 0px 16px;
}
.cust__amount svg {
  margin-right: 12px;
}
.cust__text {
  font-size: 12px;
  line-height: 12px;
  color: #5B5F62;
  padding: 10px 46px 20px 58px;
}
@media screen and (max-width: 768px) {
  .cust__text {
    font-size: 18px;
  }
}

.info {
  max-width: 538px;
  margin-top: 110px;
}
@media screen and (max-width: 768px) {
  .info {
    margin-top: 10px;
    max-width: 604px;
  }
}
.info__exp {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #F66F4D;
}
@media screen and (max-width: 768px) {
  .info__exp {
    font-size: 24px;
  }
}
.info__ourstor {
  font-weight: 600;
  font-size: 56px;
  line-height: 66px;
  color: #2D3134;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .info__ourstor {
    font-size: 48px;
    line-height: 50px;
    margin-top: 10px;
  }
}
.info__text {
  line-height: 26px;
  color: #5B5F62;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .info__text {
    font-size: 20px;
    margin-top: 5px;
  }
}
.info__blocks {
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .info__blocks {
    margin-top: 0px;
  }
}

.blocks {
  display: flex;
  justify-content: space-between;
}
.blocks__card {
  margin-top: 40px;
  max-width: 166px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blocks__count {
  font-weight: 600;
  font-size: 46px;
  line-height: 46px;
  color: #F66F4D;
  padding-top: 30px;
}
.blocks__count:nth-child(1) {
  padding-left: 20px;
  padding-right: 20px;
}
.blocks__count:nth-child(2) {
  padding-left: 30px;
  padding-right: 30px;
}
.blocks__count:nth-child(3) {
  padding-left: 25px;
  padding-right: 25px;
}
.blocks__text {
  font-size: 21px;
  line-height: 29px;
  color: #939597;
  max-width: 116px;
  margin-top: 18px;
  padding-bottom: 26px;
  text-align: center;
}

.main__popular {
  margin-top: 32px;
}

.popular__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular__text {
  font-weight: 600;
  font-size: 56px;
  line-height: 66px;
  text-transform: capitalize;
  color: #2D3134;
  max-width: 400px;
}
@media screen and (max-width: 768px) {
  .popular__text {
    text-align: center;
    margin-left: 170px;
  }
}
.popular__arrows svg {
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .popular__arrows {
    display: none;
  }
}

.places {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
@media screen and (max-width: 768px) {
  .places {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.places__item {
  background: #FAF8ED;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 24px 90px rgba(192, 188, 161, 0.22);
  border-radius: 16px;
}
.places__item_rome {
  display: none;
}
@media screen and (max-width: 768px) {
  .places__item_rome {
    display: block;
  }
}
.places__img {
  padding: 12px 12px 0 12px;
}
.places__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2D3134;
  padding: 24px 0px 0px 24px;
}
.places__subtitle {
  font-size: 14px;
  line-height: 14px;
  color: #5B5F62;
  padding: 14px 0px 0px 24px;
}
.places__prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 24px 36px 24px;
}
.places__prise {
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: #2D3134;
}
.places__button {
  font-size: 14px;
  line-height: 14px;
  color: #2D3134;
  border: 1px solid #2D3134;
  border-radius: 46px;
  padding: 12px 16px 11px 16px;
}
.places__button:hover {
  background: #2D3134;
  color: #FFFFFF;
}

body {
  font-weight: 400;
  font-size: 16px;
  color: #5B5F62;
  line-height: 1;
  font-family: Inter;
  height: 100%;
  background-color: #FAF8ED;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  width: 1170px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}
@media screen and (max-width: 768px) {
  ._container {
    width: 768px;
  }
}