@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sen:700");
.header {
  margin-top: 24px;
}
.header__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__linktg {
  text-decoration: none;
  border: 1.4px solid #F66F4D;
  border-radius: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #F66F4D;
  padding: 19px 34px;
}
.header__mobile {
  display: none;
  margin-left: 25px;
}
@media screen and (max-width: 900px) {
  .header__mobile {
    display: block;
    margin-left: 25px;
  }
  .header__mobile svg path {
    fill: #F66F4D;
  }
}

.menu__list {
  display: flex;
  margin-left: 72px;
}
@media screen and (max-width: 900px) {
  .menu__list {
    display: none;
  }
}
.menu__item {
  position: relative;
}
.menu__item::after {
  content: "";
  display: block;
  width: 0px;
  opacity: 0;
  height: 2px;
  background: #F66F4D;
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: all 0.25s linear;
}
.menu__item:hover::after {
  width: 12px;
  opacity: 1;
}
.menu__item:not(:first-child) {
  margin-left: 36px;
}
.menu__link {
  font-family: "Poppins";
  font-style: normal;
  line-height: 16px;
  text-decoration: none;
  color: inherit;
}

.main {
  margin: 0;
}

.page {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
@media screen and (max-width: 1100px) {
  .page {
    display: block;
    margin-top: 40px;
  }
}
.page__text {
  margin-top: 26px;
  font-size: 18px;
  line-height: 28px;
  max-width: 505px;
}
@media screen and (max-width: 1100px) {
  .page__text {
    margin-top: 10px;
    max-width: 100%;
    text-align: center;
  }
}
.page__title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 86px;
  color: #2D3134;
}
@media screen and (max-width: 768px) {
  .page__title {
    max-width: 768px;
    font-size: 64px;
    line-height: 68px;
  }
}

.search {
  display: flex;
  max-width: 500px;
  margin-top: 44px;
  background: #FDFEFF;
  box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
  border-radius: 38px;
  position: relative;
}
@media screen and (max-width: 1100px) {
  .search {
    margin: 0 auto;
  }
}
.search__where {
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 28px;
}
.search__date {
  padding-top: 20px;
  padding-bottom: 18px;
}
.search__icon {
  position: absolute;
  right: 4%;
  top: 11%;
}

.where__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #2D3134;
}
.where__loc {
  font-size: 12px;
  line-height: 12px;
  color: #9498A4;
}

.date {
  display: flex;
  flex-direction: column;
  margin-left: 68px;
}
.date::before {
  content: "";
  width: 47px;
  border: 1px solid #EAEAEB;
  transform: rotate(90deg);
  color: #EAEAEB;
  position: absolute;
  left: 150px;
  top: 35px;
}
.date__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #2D3134;
}
.date__calendar {
  font-size: 12px;
  line-height: 12px;
  color: #9498A4;
}

.images {
  position: relative;
}
@media screen and (max-width: 1100px) {
  .images {
    margin: 10px auto 0 auto;
  }
}
.images__big img {
  max-width: 100%;
}
.images__mapsvg {
  position: absolute;
  top: 43px;
  left: 39px;
}
.images__globesvg {
  position: absolute;
  right: 0;
  top: 105px;
}
@media screen and (max-width: 768px) {
  .images__globesvg {
    right: 10px;
  }
}
.images__text {
  text-align: center;
  margin-top: 11px;
  font-weight: 500;
  font-size: 12.3485px;
  line-height: 15px;
  padding-bottom: 31px;
}
.images__small {
  max-width: 134px;
  background: #FFFFFF;
  box-shadow: 0px 14px 24px -10px rgba(226, 154, 53, 0.2);
  border-radius: 9.87879px;
  position: absolute;
  bottom: 26px;
  left: -57px;
}
@media screen and (max-width: 768px) {
  .images__small {
    position: relative;
    bottom: 0px;
    left: 0;
    margin: -140px auto 0;
  }
}
.images__men {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  margin-left: 8px;
  margin-top: -24px;
}
.images__second {
  position: absolute;
  left: 30px;
}
.images__third {
  position: absolute;
  left: 60px;
}
.images__button {
  padding: 5px 5px;
  border: transparent;
  background: #FFFFFF;
  border-radius: 4.93939px;
  position: absolute;
  top: 38px;
  right: -16px;
}
.images__button a {
  text-decoration: none;
  font-weight: 700;
  font-size: 10.35px;
  line-height: 13px;
  color: #2D3134;
  padding: 6px 5px;
}
.images__button a svg {
  margin-right: 5px;
}

.catigories {
  margin-top: 100px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .catigories {
    margin-top: 35px;
  }
}
.catigories__title {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .catigories__title {
    justify-content: center;
  }
}
.catigories__text {
  font-weight: 600;
  font-size: 56px;
  line-height: 56px;
  color: #2D3134;
}
.catigories__subtitle {
  max-width: 370px;
  margin-top: 24px;
  line-height: 26px;
}
@media screen and (max-width: 600px) {
  .catigories__subtitle {
    max-width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .catigories {
    font-size: 20px;
  }
}

.cards {
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .cards {
    margin-top: 5px;
  }
}
.cards__item {
  position: relative;
}
.cards__item:hover .cards__visite {
  visibility: visible;
}
@media screen and (max-width: 768px) {
  .cards__item {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }
}
.cards__img {
  text-align: center;
  width: 170px;
  height: 230px;
  margin: 0 auto;
}
.cards__img img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.cards .slick-arrow {
  position: absolute;
  top: 0;
  font-size: 0;
  width: 54px;
  height: 54px;
  border: 0;
  cursor: pointer;
  margin-top: 18px;
}
@media screen and (max-width: 600px) {
  .cards .slick-arrow {
    display: none !important;
  }
}
.cards .slick-arrow.slick-prev {
  background: url("../img/catigories/arrowleft.svg") no-repeat;
  right: 110px;
}
.cards .slick-arrow.slick-prev:hover {
  background: url("../img/catigories/arrowright.svg") no-repeat;
  transform: rotate(180deg);
  transition: 0.3s;
}
.cards .slick-arrow.slick-next {
  background: url("../img/catigories/arrowleft.svg") no-repeat;
  right: 35px;
  transform: rotate(180deg);
}
.cards .slick-arrow.slick-next:hover {
  background: url("../img/catigories/arrowright.svg") no-repeat;
  transform: none;
  transition: 0.3s;
}
.cards__name {
  margin-top: 18px;
  font-weight: 500;
  font-size: 26px;
  line-height: 26px;
  color: #2D3134;
  text-align: center;
}
.cards__visite {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  position: absolute;
  visibility: hidden;
  top: 104px;
  left: 50%;
  transform: translateX(-50%);
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.main__stories {
  margin-top: 58px;
}
@media screen and (max-width: 768px) {
  .main__stories {
    margin-top: 0px;
  }
}

.stories {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  .stories {
    display: block;
  }
}
.stories__images {
  position: relative;
}

.images {
  max-width: 490px;
}
.images__main {
  padding-top: 50px;
  padding-bottom: 50px;
}
.images__main img {
  max-width: 100%;
}
@media screen and (max-width: 1100px) {
  .images__main {
    padding: 0;
  }
}

.dest {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 140px;
  align-items: center;
  border-radius: 14px;
  position: absolute;
  top: 257px;
  left: -50px;
}
@media screen and (max-width: 1310px) {
  .dest {
    left: 0;
    width: 100px;
    top: 20%;
  }
}
@media screen and (max-width: 1000px) {
  .dest {
    width: 90px;
  }
}
.dest__svg {
  background: linear-gradient(165.91deg, #FFECC9 10.03%, #FFD482 139.08%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
}
@media screen and (max-width: 1000px) {
  .dest__svg {
    margin-top: 10px;
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 1000px) {
  .dest__svg svg {
    width: 60px;
    height: 60px;
  }
}
.dest__persent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #F66F4D;
  margin-top: 30px;
}
@media screen and (max-width: 1000px) {
  .dest__persent {
    font-size: 18px;
    line-height: 18px;
  }
}
.dest__text {
  font-size: 19px;
  line-height: 30px;
  color: #939597;
  margin-top: 8px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1310px) {
  .dest__text {
    font-size: 14px;
  }
}

.cust {
  background: #FFFFFF;
  box-shadow: 10px 14px 60px -3px rgba(174, 165, 115, 0.08);
  border-radius: 10px;
  max-width: 171px;
  position: absolute;
  right: 16px;
  bottom: 32px;
}
@media screen and (max-width: 1310px) {
  .cust {
    right: 0;
    bottom: 20%;
  }
}
.cust__amount {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  color: #2D3134;
  padding: 20px 21px 0px 16px;
}
@media screen and (max-width: 1000px) {
  .cust__amount {
    font-size: 18px;
    line-height: 18px;
    padding: 5px 0px 0px 18px;
  }
}
.cust__amount svg {
  margin-right: 12px;
}
.cust__text {
  font-size: 12px;
  line-height: 12px;
  color: #5B5F62;
  padding: 10px 46px 20px 58px;
}
@media screen and (max-width: 768px) {
  .cust__text {
    font-size: 18px;
  }
}

.info {
  max-width: 538px;
  margin-top: 110px;
}
@media screen and (max-width: 1100px) {
  .info {
    margin-top: 0;
    margin-left: 10px;
  }
}
@media screen and (max-width: 850px) {
  .info {
    max-width: 100%;
    margin-top: 0;
    text-align: center;
  }
}
.info__exp {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #F66F4D;
}
@media screen and (max-width: 768px) {
  .info__exp {
    font-size: 24px;
  }
}
.info__ourstor {
  font-weight: 600;
  font-size: 56px;
  line-height: 66px;
  color: #2D3134;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .info__ourstor {
    font-size: 48px;
    line-height: 50px;
    margin-top: 10px;
  }
}
.info__text {
  line-height: 26px;
  color: #5B5F62;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .info__text {
    font-size: 20px;
    margin-top: 5px;
  }
}
.info__blocks {
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .info__blocks {
    margin-top: 0px;
  }
}

.blocks {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1100px) {
  .blocks {
    justify-content: space-around;
  }
}
.blocks__card {
  margin-top: 40px;
  max-width: 166px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .blocks__card {
    margin: 0;
    max-width: 100px;
  }
}
.blocks__count {
  font-weight: 600;
  font-size: 46px;
  line-height: 46px;
  color: #F66F4D;
  padding-top: 30px;
  min-width: 166px;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .blocks__count {
    font-size: 24px;
    line-height: 26px;
    padding-top: 10px;
  }
}
.blocks__text {
  font-size: 21px;
  line-height: 29px;
  color: #939597;
  max-width: 116px;
  margin-top: 18px;
  padding-bottom: 26px;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .blocks__text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }
}

.main__popular {
  margin-top: 32px;
}

.popular {
  position: relative;
}
.popular__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular__text {
  font-weight: 600;
  font-size: 56px;
  line-height: 66px;
  text-transform: capitalize;
  color: #2D3134;
  max-width: 400px;
}
@media screen and (max-width: 768px) {
  .popular__text {
    max-width: 100%;
    text-align: center;
    margin-left: 15px;
  }
}
@media screen and (max-width: 360px) {
  .popular__text {
    font-size: 42px;
    line-height: 42px;
  }
}

.places {
  margin-top: 35px;
}
@media screen and (max-width: 1220px) {
  .places {
    margin-top: 5px;
  }
}
.places img {
  width: 100%;
}
@media screen and (max-width: 1220px) {
  .places img {
    max-height: 300px;
  }
}
.places .slick-arrow {
  position: absolute;
  top: 39px;
  cursor: pointer;
  font-size: 0;
  width: 54px;
  height: 54px;
  border: 0;
}
@media screen and (max-width: 768px) {
  .places .slick-arrow {
    display: none !important;
  }
}
.places .slick-arrow.slick-next {
  background: url("../img/catigories/arrowleft.svg") no-repeat;
  right: 35px;
  transform: rotate(180deg);
}
.places .slick-arrow.slick-next:hover {
  background: url("../img/catigories/arrowright.svg") no-repeat;
  transform: none;
  transition: 0.3s;
}
.places .slick-arrow.slick-prev {
  background: url("../img/catigories/arrowleft.svg") no-repeat;
  right: 110px;
}
.places .slick-arrow.slick-prev:hover {
  background: url("../img/catigories/arrowright.svg") no-repeat;
  transform: rotate(180deg);
  transition: 0.3s;
}
.places__item {
  background: #FAF8ED;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 24px 90px rgba(192, 188, 161, 0.22);
  border-radius: 16px;
  margin: 0 15px;
}
.places__img {
  padding: 12px 12px 0 12px;
}
.places__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2D3134;
  padding: 24px 0px 0px 24px;
}
.places__subtitle {
  font-size: 14px;
  line-height: 14px;
  color: #5B5F62;
  padding: 14px 0px 0px 24px;
}
.places__prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 24px 36px 24px;
}
.places__prise {
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: #2D3134;
}
.places__button {
  font-size: 14px;
  line-height: 14px;
  color: #2D3134;
  border: 1px solid #2D3134;
  border-radius: 46px;
  padding: 12px 16px 11px 16px;
}
.places__button:hover {
  background: #2D3134;
  color: #FFFFFF;
}

.main__top {
  margin-top: 36px;
}

.top__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top__maintitle {
  font-weight: 600;
  font-size: 56px;
  line-height: 66px;
  color: #2D3134;
}
.top__subtitle {
  line-height: 16px;
  margin-top: 16px;
}
.top__buttons {
  margin-top: 28px;
}
.top__buttons button {
  border: 1px solid #3D3D3D;
  border-radius: 30px;
  background-color: #FAF8ED;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #2D3134;
  padding: 10px 20px;
}
.top__buttons button:not(:first-child) {
  margin-left: 14px;
}
.top__buttons button:hover {
  background: #2D3134;
  color: #FFFFFF;
}

.top__images-cards {
  margin-top: 51px;
}

.images-cards {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  justify-items: center;
  align-items: end;
  grid-template-areas: "image1 image2 image2 image3 image3" "image4 image2 image2 image5 image6";
}
@media screen and (max-width: 768px) {
  .images-cards {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-around;
    grid-template-areas: "image1 image2 image3" "image4 image5 image6";
  }
}
.images-cards__card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.images-cards__card:hover img {
  transform: scale(1.2);
  opacity: 1;
}
.images-cards__card img {
  opacity: 0.5;
  transition: all 0.5s linear;
}
@media screen and (max-width: 768px) {
  .images-cards__card img {
    width: 240px;
    height: 240px;
  }
}
.images-cards__card_first {
  grid-area: image1;
}
.images-cards__card_second {
  grid-area: image2;
}
.images-cards__card_third {
  grid-area: image3;
}
.images-cards__card_forth {
  grid-area: image4;
}
.images-cards__card_fifth {
  grid-area: image5;
}
.images-cards__card_sixth {
  grid-area: image6;
}
.images-cards__title {
  position: absolute;
  left: 24px;
  bottom: 48px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}
.images-cards__subtitle {
  position: absolute;
  left: 24px;
  bottom: 24px;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}
.images-cards__score {
  position: absolute;
  top: 16px;
  left: 24px;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 14px;
  color: #2D3134;
}
.images-cards__score:hover {
  background: #2D3134;
  color: #FFFFFF;
}

.main__about {
  margin-top: 37px;
}
@media screen and (max-width: 768px) {
  .main__about {
    margin-top: 0px;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }
}
.about__img {
  padding: 66px 0px 66px 68px;
}
@media screen and (max-width: 768px) {
  .about__img {
    padding: 0px 122px;
  }
}
.about__description {
  max-width: 537px;
}
@media screen and (max-width: 768px) {
  .about__description {
    order: -1;
  }
}

.description {
  padding-top: 105px;
  padding-bottom: 105px;
  position: relative;
}
.description .slick-arrow {
  position: absolute;
  bottom: 140px;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: 0;
  cursor: pointer;
  z-index: 10;
}
.description .slick-arrow.slick-prev {
  background: url("../img/about/left.svg") no-repeat;
  right: 90px;
}
.description .slick-arrow.slick-prev:hover {
  background: url("../img/about/right.svg") no-repeat;
  transform: rotate(180deg);
  transition: 0.3s;
}
.description .slick-arrow.slick-next {
  background: url("../img/about/left.svg") no-repeat;
  right: 30px;
  transform: rotate(180deg);
}
.description .slick-arrow.slick-next:hover {
  background: url("../img/about/right.svg") no-repeat;
  transform: none;
  transition: 0.3s;
}
.description::before {
  content: "";
  width: 67px;
  height: 8px;
  background: linear-gradient(159.99deg, #FFD482 13.35%, #FFBE82 118.92%);
  box-shadow: 0px 2px 6px rgba(229, 137, 24, 0.15);
  border-radius: 4px;
  position: absolute;
  top: 85px;
}
@media screen and (max-width: 768px) {
  .description::before {
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  .description {
    padding: 15px;
  }
}
.description__title {
  font-weight: 600;
  font-size: 56px;
  line-height: 66px;
  text-transform: capitalize;
  color: #2D3134;
  background-color: #FAF8ED;
  padding-left: 30px;
}
.description__customer {
  margin-top: 26px;
  background: #FFFFFF;
  border-radius: 14px;
}

.customer__form {
  margin-top: 27px;
}
.customer__text {
  padding-top: 34px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #5B5F62;
}
.customer__name {
  margin-top: 17px;
  padding-left: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #2D3134;
}
.customer__activity {
  margin-top: 8px;
  padding-left: 30px;
  font-size: 12px;
  line-height: 12px;
  color: #5B5F62;
  padding-bottom: 30px;
}

.form {
  position: relative;
  display: inline-block;
  font-size: 30px;
}
.form::before {
  content: "★★★★★";
  display: block;
}
.form__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  background-color: #FFFFFF;
  padding-left: 30px;
  color: lightgray;
}
.form__item {
  position: absolute;
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.form__item:checked, .form__item:checked ~ .form__label {
  color: #FFC14B;
}
.form__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
}
.form__label::before {
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}
.form__label:hover, .form__label:hover ~ .form__label, .form__label:checked ~ .form__label:hover {
  color: #FFC14B;
  opacity: 0.5;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.sign {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFD482 url(../img/sign/Intersect.png) no-repeat;
}
@media screen and (max-width: 768px) {
  .sign {
    max-width: 700px;
    margin-top: 10px;
  }
}
.sign__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.0015em;
  color: #2D3134;
  padding-top: 75px;
}
@media screen and (max-width: 768px) {
  .sign__title {
    padding-top: 25px;
  }
}
.sign__text {
  line-height: 26px;
  text-align: center;
  margin-top: 16px;
  max-width: 415px;
}
.sign__email {
  position: relative;
  margin-top: 40px;
  padding-bottom: 75px;
}
@media screen and (max-width: 768px) {
  .sign__email {
    margin-top: 10px;
    padding-bottom: 25px;
  }
}
.sign__email svg {
  position: absolute;
  right: 0;
  padding-top: 3px;
}
.sign__email input[type=email] {
  position: relative;
  width: 450px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 12px;
  border: transparent;
  padding-left: 26px;
}
.sign__email input[type=email]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.2);
}
.sign__email input[type=email]::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.2);
}
.sign__email input[type=email]:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, 0.2);
}
.sign__email input[type=email]:-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, 0.2);
}

.footer {
  margin-top: 15px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__logos {
  padding: 79px 0px 80px 0px;
}

.logos__text {
  line-height: 26px;
  margin-top: 20px;
  max-width: 141px;
}
.logos__networks {
  margin-top: 40px;
  display: flex;
}
.logos__network:not(:first-child) {
  margin-left: 16px;
}
.logos__network:hover svg path {
  fill: #F66F4D;
}
.logos__network:hover svg circle {
  stroke: #F66F4D;
}

.footer__navigation {
  display: flex;
}

.navigation {
  padding-top: 84px;
}
.navigation__items:not(:first-child) {
  margin-left: 113px;
}
@media screen and (max-width: 768px) {
  .navigation__items:not(:first-child) {
    margin-left: 40px;
  }
}
@media screen and (max-width: 768px) {
  .navigation__items:last-child {
    padding-right: 15px;
  }
}
.navigation__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #2D3134;
}
.navigation__list {
  margin-top: 22px;
}
.navigation__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 34px;
  color: #676A6C;
}
@media screen and (max-width: 768px) {
  .navigation__link {
    font-size: 16px;
  }
}

body {
  font-weight: 400;
  font-size: 16px;
  color: #5B5F62;
  line-height: 1;
  font-family: Inter;
  height: 100%;
  background-color: #FAF8ED;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  width: 1170px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}
@media screen and (max-width: 1200px) {
  ._container {
    width: 100%;
    padding: 0 1%;
    box-sizing: border-box;
  }
}