@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sen:700");
body {
  font-weight: 400;
  font-size: 16px;
  color: #5B5F62;
  line-height: 1;
  font-family: Inter;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  min-width: 1205px;
  margin: 0px auto;
  padding: 0 15px;
}