.main {

   &__about {
      margin-top: 37px;
      @media screen and (max-width :768px){
         margin-top: 0px;
      }
   }
}
.about {
   display: flex;
   justify-content: space-between;
   position: relative;
   @media screen and (max-width :768px){
      flex-direction: column;
   }
   &__img {
      padding: 66px 0px 66px 68px;
      @media screen and (max-width :768px){
         padding: 0px 122px;
      }
   }
   &__description {
      max-width: 537px;
      @media screen and (max-width :768px){
         order: -1;
      }
   }
}
.description {
   padding-top: 105px;
   padding-bottom: 105px;
   &::before{
      content:'';
      width: 67px;
      height: 8px;
      background: linear-gradient(159.99deg, #FFD482 13.35%, #FFBE82 118.92%);
      box-shadow: 0px 2px 6px rgba(229, 137, 24, 0.15);
      border-radius: 4px;
      position: absolute;
      top: 85px;
      @media screen and (max-width :768px){
         top: 0;
      }
   }
   @media screen and (max-width :768px){
      padding: 15px;
   }
   &__title {
      font-weight: 600;
      font-size: 56px;
      line-height: 66px;
      text-transform: capitalize;
      color: #2D3134;
      
   }

   &__customer {
      margin-top: 26px;
      background: #FFFFFF;
      border-radius: 14px;
   }
}
.customer {
   position: relative;
   &__text {
      padding-top: 34px;
      padding-left: 30px;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #5B5F62;
   }

   

   &__name {
      margin-top: 17px;
      padding-left: 30px;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      color: #2D3134;
   }

   &__activity {
      margin-top: 8px;
      padding-left: 30px;
      font-size: 12px;
      line-height: 12px;
      color: #5B5F62;
      padding-bottom: 30px;
   }

   &__arrows {
      position: absolute;
      right: 30px;
      bottom: 30px;
      & svg{
         margin-left: 16px;
      }
   }
}
.customer {

   &__form {
     margin-top: 27px;
   }
}
.form {
   position: relative;
   display: inline-block;
   font-size: 30px;
   &::before{
      content: '★★★★★';
      display: block;
   }
   &__items {
      position: absolute;
      width:100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row-reverse;
      overflow: hidden;
      background-color: #FFFFFF;
      padding-left: 30px;
      color: lightgray;
   }

   &__item {
      position: absolute;
      width: 0%;
      height: 0%;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      
      &:checked,
      &:checked ~ .form__label{
         color: #FFC14B;;
      }
      
   }

   &__label {
      flex: 0 0 20%;
      height: 100%;
      cursor: pointer;
      &::before{
         content: '★';
         display: block;
         transition: color 0.3s ease 0s;
      }
      &:hover, 
      &:hover ~ .form__label,
      &:checked ~ .form__label:hover{
         color: #FFC14B;
         opacity: 0.5;
      }
   }
}
