.catigories {
   margin-top: 100px;
   position: relative;
   @media screen and (max-width :768px){
      margin-top: 35px;
   }
   &__title {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width :768px){
         justify-content: start;
      }
      
   }
   &__text {
      font-weight: 600;
      font-size: 56px;
      line-height: 56px;
      color: #2D3134;

   }
   &__subtitle{
      max-width: 370px;
      margin-top: 24px;
      line-height: 26px;
   }
   @media screen and (max-width :768px){
      font-size: 20px;
   }
}
.cards {
   margin-top: 60px;
   &__item {
      &:hover .cards__visite{
         visibility: visible;
      }
      @media screen and (max-width :768px){
         margin-left: 51px;
         margin-top: 30px;
       }
   }
   & .slick-arrow{
      position: absolute;
      top: 0;
      font-size: 0;
      width: 54px;
      height: 54px;
      border: 0;
      cursor: pointer;
      margin-top: 18px;
      

   }
   & .slick-arrow.slick-prev{
      background: url('../img/catigories/arrowleft.svg')  no-repeat;
      right: 110px;
      &:hover{
         background: url('../img/catigories/arrowright.svg')  no-repeat;
         transform: rotate(180deg);
         transition: 0.3s;
      }
   }
   & .slick-arrow.slick-next{
      background: url('../img/catigories/arrowleft.svg') no-repeat;
      right: 35px;
      transform: rotate(180deg);
      &:hover{
         background: url('../img/catigories/arrowright.svg')  no-repeat;
         transform: none;
         transition: 0.3s;
      }
   }
   &__name {
      margin-top: 18px;
      font-weight: 500;
      font-size: 26px;
      line-height: 26px;
      color: #2D3134;
      text-align: center;
   }

   &__visite {
      font-weight: 600;
      font-size: 20px;
      line-height: 22px;
      text-align: center;
      color: #FFFFFF;
      position: absolute;
      visibility: hidden;
      top: 104px;
      padding-left: 55px;
   }
}
.slick-track{
   display: flex;
}
.slick-list{
   overflow: hidden;
}
// .slick-initialized {}
// .slick-slider{}
// .slick-prev{} 
// .slick-arrow{}
// .slick-slide{} 
// .slick-current{}
// .slick-active{}
// .slick-next{}
// .slick-prev{}