.footer {
   margin-top: 15px;
   &__container {
      display: flex;
      justify-content: space-between;
   }

   &__logos {
      padding: 79px 0px 80px 0px;
   }
}

.logos {

   &__text {
      line-height: 26px;
      margin-top: 20px;
      max-width: 141px;
   }

   &__networks {
      margin-top: 40px;
      display: flex;
   }
   &__network{
      &:not(:first-child){
         margin-left: 16px;
      }
      &:hover svg path {
         fill: #F66F4D;
      } 
      &:hover svg circle {
         stroke: #F66F4D;
      } 
   }
}
