.footer {
   margin-top: 15px;
   &__container {
      display: flex;
      justify-content: space-between;
   }

   &__logos {
      padding: 79px 0px 80px 0px;
   }
}

.logos {

   &__text {
      line-height: 26px;
      margin-top: 20px;
      max-width: 141px;
   }

   &__networks {
      margin-top: 40px;
      display: flex;
   }
   &__network{
      &:not(:first-child){
         margin-left: 16px;
      }
      &:hover svg path {
         fill: #F66F4D;
      } 
      &:hover svg circle {
         stroke: #F66F4D;
      } 
   }
}

.footer {

   &__navigation {
      display: flex;
   }
}
.navigation {
   padding-top: 84px;
   &__items {
      &:not(:first-child){
         margin-left: 113px;
         @media screen and (max-width :768px){
            margin-left: 40px;
         }
      }
      &:last-child{
         @media screen and (max-width :768px){
           padding-right: 15px;
         }
      }
   }

   &__title {
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      color: #2D3134;
   }

   &__list {
      margin-top: 22px;
   }

   &__link {
      text-decoration: none;
      font-size: 14px;
      line-height: 34px;
      color: #676A6C;
      @media screen and (max-width :768px){
         font-size: 16px;
         
       }
   }
}
