.footer {
   margin-top: 15px;
   &__container {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width :750px){
         flex-direction: column;
      }

   }

   &__logos {
      padding: 79px 0px 80px 0px;

   }
}

.logos {
   @media screen and (max-width :750px){
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0;
   }
   &__text {
      line-height: 26px;
      margin-top: 20px;
      max-width: 141px;
      @media screen and (max-width :750px){
         max-width: 100%;
         margin: 0;
         margin-left: 5px;
         font-weight: 700;
      }
      @media screen and (max-width :520px){
         display: none;
      }
   }

   &__networks {
      margin-top: 40px;
      display: flex;
      @media screen and (max-width :750px){
         margin: 0;
         margin-left: 5px;
      }
   }
   &__network{
      & svg{
         @media screen and (max-width :750px){
            width: 40px;
            height: 40px;
         }
      }
      &:not(:first-child){
         margin-left: 16px;
      }
      &:hover svg path {
         fill: #F66F4D;
      } 
      &:hover svg circle {
         stroke: #F66F4D;
      } 
   }
}

.footer {

   &__navigation {
      display: flex;
      // flex-direction: column;
   }
}
.navigation {
   padding-top: 84px;
   @media screen and (max-width :750px){
      padding: 20px;
      justify-content: space-around;
   }
   &__items {
      
      &:not(:first-child){
         margin-left: 113px;
         @media screen and (max-width :1100px){
            margin-left: 20px;
         }
         
      }
      @media screen and (max-width :750px){
         margin: 0!important;
      }
   }

   &__title {
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      color: #2D3134;
   }

   &__list {
      margin-top: 22px;
   }

   &__link {
      text-decoration: none;
      font-size: 14px;
      line-height: 34px;
      color: #676A6C;
     
      @media screen and (max-width :768px){
         font-size: 16px;
       }
   }
}
