.header {

   &__container {
      display: flex;
      align-items: center;
      min-width: 108px;
   }

   &__menu {
      display: flex;
      align-items: center;
   }

   &__button {
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      border: 1.4px solid #F66F4D;
      border-radius: 27px;
      background-color: #FAF8ED;
      color: #F66F4D;
      text-align: center;
      padding: 19px 34px;
   }
}
.menu {

   &__list {
      display: flex;
   }

   &__item {
      vertical-align: center;
   }

   &__link {
      font-family: 'Poppins';
      font-style: normal;
      line-height: 16px;
      text-decoration: none;
      color: inherit;
   }
}
