.main {

   &__popular {
      margin-top: 32px;
   }
}
.popular {

   &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__text {
      font-weight: 600;
      font-size: 56px;
      line-height: 66px;
      text-transform: capitalize;
      color: #2D3134;
      max-width: 400px;
   }

   &__arrows {
      & svg{
         margin-left: 15px;
      }
   }
}


.plases {

   &__item {
   }
}
.places {

   &__img {
   }

   &__title {
   }

   &__subtitle {
   }

   &__prices {
   }

   &__prise {
   }

   &__button {
   }
}
