.main {

   &__popular {
      margin-top: 32px;
   }
}
.popular {
   position: relative;
   
   &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__text {
      font-weight: 600;
      font-size: 56px;
      line-height: 66px;
      text-transform: capitalize;
      color: #2D3134;
      max-width: 400px;
      @media screen and (max-width :768px){
        max-width: 100%;
        text-align: center;
        margin-left: 15px;
      }
   }
}

.places {
   margin-top: 35px;
   @media screen and(max-width:1220px) {
      margin-top: 5px;
   }
   & img{ 
      width: 100%;
      @media screen and (max-width :1220px){
         max-height: 300px;
      }
   }
   & .slick-arrow{
      position: absolute;
      top: 39px;
      cursor: pointer;
      font-size: 0;
      width: 54px;
      height: 54px;
      border: 0;
      @media screen and (max-width :768px){
         display: none!important;
      }
      
   } 
   
   & .slick-arrow.slick-next{
      background: url('../img/catigories/arrowleft.svg')  no-repeat;
      right: 35px;
      transform: rotate(180deg);
      &:hover{
         background: url('../img/catigories/arrowright.svg')  no-repeat;
         transform: none;
         transition: 0.3s;
      }
   }
   
   & .slick-arrow.slick-prev{
      background: url('../img/catigories/arrowleft.svg')  no-repeat;
      right: 110px;
      &:hover{
         background: url('../img/catigories/arrowright.svg')  no-repeat;
         transform: rotate(180deg);
         transition: 0.3s;
      }
   }
   
   &__item{
      background: #FAF8ED;
      border: 2px solid #FFFFFF;
      box-shadow: 0px 24px 90px rgba(192, 188, 161, 0.22);
      border-radius: 16px;
      margin: 0 15px;
   }

   &__img{
      padding: 12px 12px 0 12px;
   }
  
   &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      color: #2D3134;
      padding: 24px 0px 0px 24px;
   }

   &__subtitle {
      font-size: 14px;
      line-height: 14px;
      color: #5B5F62;
      padding: 14px 0px 0px 24px;
   }

   &__prices {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 27px 24px 36px 24px;
      // @media screen and (max-width :768px){
      //    justify-content: start;
      // }
   }

   &__prise {
      font-weight: 600;
      font-size: 24px;
      line-height: 20px;
      color: #2D3134;
   }

   &__button {
      font-size: 14px;
      line-height: 14px;
      color: #2D3134;
      border: 1px solid #2D3134;
      border-radius: 46px;
      padding: 12px 16px 11px 16px;
      &:hover{
         background: #2D3134;
         color: #FFFFFF;
      }
      // @media screen and (max-width :768px){
      //    margin-left: 10px;
      // }
   }
}
// .slick-initialized {}
// .slick-slider{}
// .slick-prev{} 
// .slick-arrow{}
// .slick-slide{} 
// .slick-current{}
// .slick-active{}
// .slick-next{}
// .slick-prev{}