.main {

   &__stories {
      margin-top: 58px;
      @media screen and (max-width :768px){
         margin-top: 0px;
      }
   }
}
.stories {
   display: flex;
   justify-content: space-between;
   @media screen and (max-width :768px){
      display: block;
   }
   &__images {
      position: relative;
   }
}
.images {
   max-width: 490px;
   &__main {
      padding-top: 50px;
      padding-bottom: 50px;
   }

}
.dest {
   display: flex;
   flex-direction: column;
   background-color: #ffffff;
   width: 140px;
   align-items: center;
   border-radius: 14px;
   position: absolute;
   top: 257px;
   left:-50px;
   &__svg {
      background: linear-gradient(165.91deg, #FFECC9 10.03%, #FFD482 139.08%);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-top: 20px;
   }

   &__persent {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 30px;
      color: #F66F4D;
      margin-top: 30px;
   }

   &__text {
      font-size: 19px;
      line-height: 30px;
      color: #939597;
      margin-top: 8px;
      padding-bottom: 20px;
   }

}
.cust {
   background: #FFFFFF;
   box-shadow: 10px 14px 60px -3px rgba(174, 165, 115, 0.08);
   border-radius: 10px;
   max-width: 171px;
   position: absolute;
   right: 16px;
   bottom: 32px;
   &__amount {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 30px;
      color: #2D3134;
      padding: 20px 21px 0px 16px;
      & svg{
         margin-right: 12px;
      }
   }

   &__text {
      font-size: 12px;
      line-height: 12px;
      color: #5B5F62;
      padding: 10px 46px 20px 58px;
      @media screen and (max-width :768px){
         font-size: 18px;
      }
   }
}

.info {
   max-width: 538px;
   margin-top: 110px;
   @media screen and (max-width :768px){
      margin-top: 10px;
      max-width: 604px;
   }
   &__exp {
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.2em;
      color: #F66F4D;
      @media screen and (max-width :768px){
         font-size: 24px;
      }
   }

   &__ourstor {
      font-weight: 600;
      font-size: 56px;
      line-height: 66px;
      color: #2D3134;
      margin-top: 20px;
      @media screen and (max-width :768px){
         font-size: 48px;
         line-height: 50px;
         margin-top: 10px;
      }
   }

   &__text {
      line-height: 26px;
      color: #5B5F62;
      margin-top: 20px;
      @media screen and (max-width :768px){
         font-size: 20px;
         margin-top: 5px;
      }
   }

   &__blocks {
      margin-top: 40px;
      @media screen and (max-width :768px){
         margin-top: 0px;
      }
   }
}
.blocks {
   display: flex;
   justify-content: space-between;
   &__card {
      margin-top: 40px;
      max-width: 166px;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__count {
      font-weight: 600;
      font-size: 46px;
      line-height: 46px;
      color: #F66F4D;
      padding-top: 30px;
      min-width: 166px;
      text-align: center;
   }

   &__text {
      font-size: 21px;
      line-height: 29px;
      color: #939597;
      max-width: 116px;
      margin-top: 18px;
      padding-bottom: 26px;
      text-align: center;
   }
}
