.main {

   &__top {
      margin-top: 36px;
   }
}
.top {

   &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
   }


   &__maintitle {
      font-weight: 600;
      font-size: 56px;
      line-height: 66px;
      color: #2D3134;
   }

   &__subtitle {
      line-height: 16px;
      margin-top: 16px;
   }

   &__buttons {
      margin-top: 28px;
      & button{
         border: 1px solid #3D3D3D;
         border-radius: 30px;
         background-color: #FAF8ED;
         font-size: 14px;
         line-height: 14px;
         text-align: center;
         color: #2D3134;
         padding: 10px 20px;
         &:not(:first-child){
            margin-left: 14px;
         }
         &:hover{
            background: #2D3134;
            color: #FFFFFF;
         }
      }
   }
}

