.main {

   &__top {
      margin-top: 36px;
   }
}
.top {

   &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
   }


   &__maintitle {
      font-weight: 600;
      font-size: 56px;
      line-height: 66px;
      color: #2D3134;
   }

   &__subtitle {
      line-height: 16px;
      margin-top: 16px;
   }

   &__buttons {
      margin-top: 28px;
      & button{
         border: 1px solid #3D3D3D;
         border-radius: 30px;
         background-color: #FAF8ED;
         font-size: 14px;
         line-height: 14px;
         text-align: center;
         color: #2D3134;
         padding: 10px 20px;
         &:not(:first-child){
            margin-left: 14px;
         }
         &:hover{
            background: #2D3134;
            color: #FFFFFF;
         }
      }
   }
}

.top {

   &__images-cards {
     margin-top: 51px; 
   }
}
.images-cards {
   display: grid;
   grid-template-columns: repeat(5, auto);
   grid-template-rows: repeat(2, auto);
   justify-content: space-between;
   justify-items: center;
   align-items: end;
   grid-template-areas: 
      "image1 image2 image2 image3 image3"
      "image4 image2 image2 image5 image6";

   &__card {
      position: relative;
      &_first{
         grid-area: image1;
      }
      &_second{
         grid-area: image2;
      }
      &_third{
         grid-area: image3;
      }
      &_forth{
         grid-area: image4;
      }
      &_fifth{
         grid-area: image5;
      }
      &_sixth{
         grid-area: image6;
      }
      
   }

   &__title {
      position: absolute;
      left: 24px;
      bottom: 48px;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      color: #FFFFFF;
   }

   &__subtitle {
      position: absolute;
      left: 24px;
      bottom: 24px;
      font-size: 14px;
      line-height: 14px;
      color: #FFFFFF;

   }

   &__score {
      position: absolute;
      top: 16px;
      left: 24px;
      background: #FFFFFF;
      border-radius: 12px;
      padding: 5px 10px;
      font-size: 14px;
      line-height: 14px;
      color: #2D3134;
   }
}
